@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");


body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: url(./img/photo_2024-05-11_11-15-13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main{
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(227, 212, 221, 0.7); 
  padding: 20px 20px 20px 20px;
  padding-bottom: 1px;
  border-radius: 10px;
  overflow: hidden;
  width:400px;
  height: 450px;
}

h2{
  display: block;
  text-align: center;
  font-size: xx-large;
  width: max-content;
  margin-left: 9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.main label{
  display: block;
  justify-content: start;
  font-size: large;
  margin-top: 5px;
  font-size: larger;
  width: fit-content;
}

.pass,
.email{
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 380px ;
  margin-top: 15px;
  padding-left: 20px;
  font-size: larger;
  font-weight: 700;
  font-size: 17px;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin-top: 3rem;
  margin-left: 9rem;
  cursor: pointer;
  width: 100px;
  font-weight: 700;
  font-size: 20px;
}

.main .fa-lock {
  position: absolute;
  margin-left: 2.9px;
  top: 41.8%;
  z-index: 1;
  transform: translateY(-50%);
  color: #000000

}
.showpass{
  position: absolute;
  margin-left:22.9rem;
  margin-top:15.2rem;
  cursor: pointer;
}
.showpass .eye-open{
  margin-top: -1px !important;
  width: 20px;
  height: 20px !important;
  transition: all 0.2s ease;
}
.showpass .eye-close{
  width: 25px;
  height: 20px;
}

.result{
  width: fit-content;
}




.validator {
  margin-top: 20px;
  width: 310px;
  position: relative;
  height: 190px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 7px 20px 0px;
  background-color: #121726;
}

.validator p {
  opacity: 0.6;
  transition: all 0.3s ease-out;
}

.validator p span {
  font-size: 15px;
  color: #fff;
  margin-left: 35px;
  font-weight: 500;
}

.validator p i {
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 26px;
  font-size: 15px;
  border-radius: 50%;
  color: #ffffff;
}

.fa-check {
  opacity: 0;
}

.fa-times {
  opacity: 1;
}
